    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 footer_col col-md-offset-1 ouline-w">
                    <p><a class="link" href="#">О проекте</a></p>
                    <p>&copy; 2013-2017 Tap.Az</p>
                    <p><a class="link" href="mailto:tap@tap.az">tap@tap.az</a> / <a class="link" href="tel:+994125990805">(012) 599-08-05</a></p>
                    <p><a class="link" href="#">Мобильная версия</a></p>
                </div>

                <div class="col-md-7 footer_col">
                    <p class="padding-bott_15">Администрация сайта не несет ответственности за содержание рекламных баннеров и размещенных объявлений</p>
                    <p>Реклама на TAP.AZ - это один из лучших способов сообщить о ваших брендах, товарах, услугах, акциях и знаменательных событиях очень большой аудитории!</p>
                    <p><a class="link" href="#">Реклама на сайте</a></p>

                    <div class="company-icons">
                        <a href="#" class="comp-icon boss-az"></a>
                        <a href="#" class="comp-icon bina-az"></a>
                        <a href="#" class="comp-icon car-az"></a>
                        <a href="#" class="comp-icon turbo-az"></a>
                    </div>
                </div>

                <div class="col-md-2 footer_col">
                    <a target="_blank" href="http://www.liveinternet.ru/rating/az/auto/month.html">
                        <img title="LiveInternet: показано количество просмотров и посетителей"
                             border="0"
                             width="88"
                             height="120"
                             src="//counter.yadro.ru/logo?27.6" alt="Logo?27">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>