<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 heade-bar__ref">
                    <a href="#" class="header-top-ref"><span class="soc-icon icon-home"></span>Главная</a>
                    <a href="#" class="header-top-ref">azərbaycanca</a>
                    <a href="#" class="header-top-ref text-bold">Реклама на сайте</a>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 pull-right sosial-icons-wapper">
                    <a href="#" class="sosial-icons__ref">Поддержка: (012) 599-08-05</a>
                    <div class="sosial-icons">
                        <a href="#" class="soc-icon icon-instagram"></a>
                        <a href="#" class="soc-icon icon-facebook"></a>
                        <a href="#" class="soc-icon icon-ios"></a>
                        <a href="#" class="soc-icon icon-android_ap"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header text-center header-bg">
        <div class="container">
            <div class="row">
                <div class="header-main clearfix">
                    <div class="col-md-3">
                        <div class="logo">
                            Tap.Az — бесплатные объявления — Авто, Дома, Телефоны, Одежда, Мебель — Баку, Азербайджан
                        </div>
                    </div>

                    <div class="col-md-9 pull-right padding-right_reset nav-wrap">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid padding-right_reset">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div id="navbar" class="navbar-collapse navbar-block collapse padding-right_reset" aria-expanded="false"
                                     style="height: 1px;">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#">Плюсы</a></li>
                                        <li><a href="#">Мобильная версия</a></li>
                                        <li><a href="#">Как создать?</a></li>
                                        <li><a href="#">Наши пакеты</a></li>
                                        <li><a href="#">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="header-container">
                    <div class="col-md-10 center-block float-none">
                        <h1 class="header__title">Создайте собственный онлайн-магазин</h1>
                    </div>

                    <div class="col-md-8 center-block float-none">
                        <p class="header__paragraph">Продавайте лучше, больше и быстрее. Больше просмотров – больше покупателей
                            – больше прибыли с собственным онлайн-магазином на Tap.az</p>
                    </div>

                    <button class="btn btn-primary-orange">Открыть магазин</button>
                </div>
            </div>
        </div>

        <div class="header-block">
            <div class="header-block__title">Ваш магазин на <span class="header-block__span">tap.az</span></div>
        </div>
    </div>
</header>

