@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica/Helvetica.eot');
  src: local('☺'), url('../fonts/Helvetica/Helvetica.woff') format('woff'), url('../fonts/Helvetica/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica/Helvetica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontPageIcon';
  src:  url('../fonts/FontPageIcon/icomoon.eot?wuwm1h');
  src:  url('../fonts/FontPageIcon/icomoon.eot?wuwm1h#iefix') format('embedded-opentype'),
  url('../fonts/FontPageIcon/icomoon.ttf?wuwm1h') format('truetype'),
  url('../fonts/FontPageIcon/icomoon.woff?wuwm1h') format('woff'),
  url('../fonts/FontPageIcon/icomoon.svg?wuwm1h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoiretOne-Regular';
  src: url('../fonts/PoiretOne/PoiretOne-Regular.eot');
  src: local('☺'), url('../fonts/PoiretOne/PoiretOne-Regular.woff') format('woff'), url('../fonts/PoiretOne/PoiretOne-Regular.ttf') format('truetype'), url('../fonts/PoiretOne/PoiretOne-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}

.header {
  margin-bottom: 35px;
}

.header-top {
  background-color: #555;
  padding: 5px;

  .header-top-ref {
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 2px;
    display: inline-block;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.sosial-icons-wapper {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0;

  .sosial-icons__ref {
     color: #fff;
     font-family: Arial, sans-serif;
     text-decoration: none;
     line-height: 23px;
     font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-bg {
  background: url("../img/clouds.svg") no-repeat left top 55px #4fc3f7;
  background-size: contain;
}

.header-block__span {
  font-family: 'Helvetica', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  height: 135px;
}

.btn-primary-orange {
  color: #fff;
  border-radius: 100px;
  background-color: #ff7043;
  border-color: #ff7043;
  font-weight: bold;
  line-height: 0.5;
  padding: 22px 30px;

  &:hover {
    background-color: #EC5121;
    border-color: #EC5121;
    transition: 2s;
    color: #fff;
  }
}

@media (min-width: 300px) {
  .header-block {
    background: url("../img/bg-shop-2x.png") no-repeat center bottom -3px;
    background-size: 1000px;
  }

  .header-block__title {
    font-family: Helvetica,sans-serif;
    font-size: 18px;
    color: #fff;
    height: 264px;
    top: 77px;
    position: relative;
  }

  .header__title {
    font-size: 30px;
  }

  .header__paragraph {
    font-size: 18px;
  }

  .btn-primary-orange {
    font-size: 20px;
  }

  body {
    margin-bottom: 450px;
  }
}

@media (min-width: 992px) {
  .header-block {
    background: url("../img/bg-shop-2x.png") no-repeat center bottom -3px;
    background-size: 1300px;
  }

  .header-block__title {
    font-family: Helvetica,sans-serif;
    font-size: 21px;
    color: #fff;
    height: 264px;
    top: 23px;
    position: relative;
  }

  .header__title {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-family: 'Helvetica', sans-serif;
    font-size: 44px;
  }

  .header__paragraph {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 35px 0;
    font-family: 'Helvetica', sans-serif;
  }

  .btn-primary-orange {
    font-size: 28px;
  }

  body {
    margin-bottom: 205px;
  }
}

.navbar-block ul > li > a,
.navbar-default .navbar-nav > li > a {
  padding: 10px 20px;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #327a9a;
}

.navbar-default .navbar-toggle {
  border-color: #327a9a;
  background-color: #327a9a;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #fff;
}

.heade-bar__ref {
  padding-left: 0;
}

.soc-icon {
  display: inline-block;
  background: url('../img/soc-icons.svg') no-repeat;
}

@media (min-width: 300px) {
  .heade-bar__ref {
    text-align: center;
    padding: 5px 0;
  }

  .header-top-ref {
    margin-right: 10px;
  }

  .sosial-icons-wapper {
    justify-content: center;
    padding: 5px 0;
  }

  .soc-icon {
    margin: 0 3px;
  }

  .sosial-icons__ref {
    margin-left: 5px;
  }
}

@media (min-width: 992px) {
  .header-top-ref {
    margin-right: 20px;
  }

  .heade-bar__ref {
    text-align: left;
    padding: 0;
  }

  .sosial-icons-wapper {
    justify-content: flex-start;
    padding: 0;
  }

  .soc-icon {
    margin: 0 5px;
  }

  .sosial-icons__ref {
    margin-left: 20px;
  }
}

.icon-android_ap {
  background-position: 0 -21px;
  width: 18px;
  height: 21px;

  &:hover {
    background-position: 0 0;
  }
}

.icon-facebook {
  background-position: 0 -63px;
  width: 10px;
  height: 21px;
  &:hover {
    background-position: 0 -42px;
  }
}

.icon-home  {
  background-position: 0 -84px;
  width: 14px;
  height: 13px;
  top: 2px;
  position: relative;
  margin-left: 0;
  margin-right: 10px;
}

.icon-instagram {
  background-position: 0 -97px;
  width: 21px;
  height: 21px;
  &:hover {
    background-position: 0 -118px;
  }
}

.icon-ios {
  background-position: 0 -160px;
  width: 18px;
  height: 21px;

  &:hover {
    background-position: 0 -139px;
  }
}

.header-main {
  padding-top: 35px;
  padding-bottom: 105px;
}

.header-container {
  float: none;
  clear: both;
  color: #fff;
  margin-bottom: 25px;
}

.header__title {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-family: 'Helvetica', sans-serif;
}

.header__paragraph {
  font-weight: 500;
  margin: 0 0 35px 0;
  font-family: 'Helvetica', sans-serif;
}

.logo {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  vertical-align: top;
  width: 246px;
  height: 50px;
  background: url("../img/logo.png") no-repeat center center;
}

@media (min-width: 300px) {
  .logo {
    margin: 0 auto;
  }

  .padding-right_reset {
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .logo {
    margin: 0;
  }

  .padding-right_reset {
    padding-right: 0;
  }
}

@media (min-width: 300px) {
  .nav-wrap {
    float: none!important;
  }

  .nav-wrap .navbar-toggle {
    float: none;
    margin-right: 0;
  }

  .header-main {
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .nav-wrap {
    float: right!important;
  }

  .nav-wrap .navbar-toggle {
    float: right;
    margin-right: 15px;
  }

  .header-main {
    padding-bottom: 105px;
  }
}


.main__title {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #ff7043;
  margin-bottom: 45px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  color: #ffffff;
}

.advantages-container__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-container__item {
  border: 10px solid #000;
  border-image: url("../img/border.png") 20 20;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 280px;
}

@media (min-width: 300px) {
  .advantages-container__item {
    width: 90%;
    float: none;
    margin: 0 auto 20px;
  }
}

@media (min-width: 768px) {
  .advantages-container__item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .advantages-container__item {
    width: 32.1%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

.advantages-container__title {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.advantages-container__paragraph {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #918f8f;
}

.advantages-container_icon:before {
  font-family: "FontPageIcon";
  font-size: 33px;
  background: linear-gradient(to right, #4fc3f7, #ab5ca4 49%, #ff512f);
  background: linear-gradient(to bottom, #4fc3f7, #ab5ca4 49%, #ff512f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  opacity: 0.8;
  font-weight: 100;
  padding-right: 20px;
  position: relative;
  top: 10px;
}

.announcement-container_icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.announcement-container_icon-wrapper {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: inline-block;
  background: #fff;
  margin-right: 20px;
  margin-top: 30px;

}

.announcement-container_icon:before {
  font-family: "FontPageIcon";
  color: #4fc3f7;
  font-size: 40px;
  position: relative;
  left: 17px;
  top: 15px;
}

.icon-android:before {
  content: "\e900";
}
.icon-blank:before {
  content: "\e901";
}
.icon-case:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-earn:before {
  content: "\e904";
}

.icon-phone.path1:before {
  content: "\e905";
  color: #4fc3f7;
}
.icon-phone.path2:before {
  content: "\e906";
  color: #4fc3f7;
  margin-left: -1em;
}

.icon-profit:before {
  content: "\e907";
}
.icon-service:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}

.icon {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.icon-number-five {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/svg/svg-sprite/numbers.svg");
}

.icon-number-five-dims {
  width: 47px;
  height: 80px
}

.icon-number-four, .icon-number-four\:regular {
  background-image: url('../img/svg/svg-sprite/numbers.svg');
  background-position: 0 -80px;
  background-repeat: no-repeat
}

.icon-number-four-dims {
  width: 55px;
  height: 80px
}

.icon-number-one, .icon-number-one\:regular {
  background-image: url('../img/svg/svg-sprite/numbers.svg');
  background-position: 0 -160px;
  background-repeat: no-repeat
}

.icon-number-one-dims {
  width: 38px;
  height: 80px
}

.icon-number-six, .icon-number-six\:regular {
  background-image: url('../img/svg/svg-sprite/numbers.svg');
  background-position: 0 -240px;
  background-repeat: no-repeat
}

.icon-number-six-dims {
  width: 49px;
  height: 80px
}

.icon-number-three, .icon-number-three\:regular {
  background-image: url('../img/svg/svg-sprite/numbers.svg');
  background-position: 0 -320px;
  background-repeat: no-repeat
}

.icon-number-three-dims {
  width: 47px;
  height: 80px
}

.icon-number-two, .icon-number-two\:regular {
  background-image: url('../img/svg/svg-sprite/numbers.svg');
  background-position: 0 -400px;
  background-repeat: no-repeat
}

.icon-number-two-dims {
  width: 54px;
  height: 80px
}

.announcement-container {
  background: #fafafa;
}

.announcement-container_cover {
  background: url("../img/segment.png") no-repeat left top;
  background-size: contain;
}

.announcement-container__title {
  font-family: "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 1.22;
  color: #222222;
  margin-bottom: 35px;
}

.announcement-container__paragraph {
  font-family: "Helvetica", sans-serif;
  // font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #a2a2a2;
}

.announcement-container_offset {
  padding-left: 0;
}

@media (min-width: 300px) {
  .announcement-container__title {
    font-size: 25px;
    line-height: 25px;
  }

  .announcement-container_offset {
    padding-left: 15px;
  }

  .announcement-container_decorate {
    background: none;
    padding-top: 30px;
    background-size: contain;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .announcement-container_decorate {
    background: url("../img/phone-1.png") no-repeat right -62px bottom -96px;
    padding-top: 150px;
    background-size: contain;
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .announcement-container_decorate {
    background: url("../img/phone-1@2x.png") no-repeat right -62px bottom -135px;
    background-size: contain;
    padding-top: 290px;
    padding-bottom: 230px;
  }

  .announcement-container__title {
    font-size: 36px;
    line-height: 1.22;
  }
}

.leading-container__title {
  font-family: "Helvetica", sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 100px;
  padding-top: 70px;
  margin-top: 0;
}

.leading-container__image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leading-container__paragraph {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: -20px;
}

.leading-container__item {
  padding: 0 50px;
}

.leading-container__number {
  font-family: "PoiretOne-Regular", sans-serif;
  font-size: 135px;
  color: #fff;
}

@media (min-width: 300px) {
  .leading-container__item {
    padding: 0;
  }

  .leading-container__title {
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    text-align: center;
  }

  .leading-container__image {
    justify-content: center;
  }

  .leading-container__paragraph {
    text-align: center;
  }

  .leading-container {
    padding-bottom: 50px;
  }

  ._offset-left-m {
    padding-left: 15px;
  }

  ._offset-left-s {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .leading-container__item {
    padding: 0;
  }

  .leading-container__paragraph {
    text-align: left;
  }

  .leading-container {
    padding-bottom: 145px;
  }

  ._offset-left-m {
    padding-left: 30px;
  }

  ._offset-left-s {
    padding-left: 10px;
  }
}

@media (min-width: 992px) {
  .leading-container__item {
    padding: 0 50px;
  }

  .leading-container__title {
    font-size: 40px;
    margin-bottom: 100px;
    padding-top: 70px;
    text-align: left;
  }

  .leading-container__image {
    justify-content: flex-start;
  }
}

.connection-container {
  background: #fafafa;
  padding-bottom: 110px;
}

.connection-container__title {
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Helvetica", sans-serif;
  font-size: 48px;
  color: #3b3a3a;
}

.connection-container__form {
  box-shadow:  0 10px 5px rgba(0,0,0, 0.09);
}

.connection-container__input {
  font-family: "Helvetica", sans-serif;
  padding: 15px 17px;
  border: 1px solid #d8dde9;
  border-radius: 3px;
  color: #000000;
  font-size: 14px;
  margin-bottom: 25px;
  width: 94%;
  -moz-appearance: none;

  &::-webkit-input-placeholder {
    opacity: 0.5;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

.connection-container__submit-wrapper {
  border-top: 1px solid #ececec;
  text-align: right;
  padding: 22px 80px;
  background-color: #fbfcfd;
}

.connection-container__submit {
  border-radius: 50px;
  border: none;
  background-color: #5ab9f7;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 0 0 0 30px;
  position: relative;

  &:hover {
    background-color: #4d9ed3;
    transition: 2s;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 38px solid #89dafe;
    border-left: 13px solid transparent;
    bottom: 0;
    right: 30px;
  }
}

.connection-container__submit_fa-angle {
  font-size: 30px;
  vertical-align: sub;
  margin-left: 26px;
  padding: 4px 10px;
  border-radius: 0 50px 50px 0;
  background: #89dafe;
  margin-right: -1px;
}

@media (min-width: 300px) {
  .connection-container_offset_bbxxl {
    padding-left: 15px;
    padding-right: 15px;
  }

  .connection-container__mod {
    padding: 50px 0 17px;
  }

  .connection-container__title {
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
  }

  .connection-container_align-right {
    text-align: center;
  }

  .connection-container_align-left {
    text-align: center;
  }

  .connection-container__submit-wrapper {
    text-align: center;
    padding: 18px 27px;
  }
}

@media (min-width: 768px) {
  .connection-container__mod {
    padding: 50px 30px 17px;
  }

  .connection-container__title {
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 48px;
  }
}

@media (min-width: 992px) {
  .connection-container__mod {
    padding: 90px 65px 17px;
  }

  .connection-container_offset_bbxxl {
    padding-left: 55px;
    padding-right: 55px;
  }

  .connection-container_align-left{
    text-align: left;
  }

  .connection-container_align-right {
    text-align: right;
  }

  .connection-container__submit-wrapper {
    text-align: right;
    padding: 22px 80px;
  }
}

.footer {
  background-color: #3e3e3e;
  color: #989898;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.link {
  color: #fff;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.footer p {
  margin-bottom: 0;
}

.company-icons {
   padding-top: 10px;
}

.comp-icon {
  display: inline-block;
  background: url('../img/company-icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.bina-az {
  background-position: -0px -0px;
  width: 86px;
  height: 30px;
}

.boss-az {
  background-position: -86px -0px;
  width: 86px;
  height: 30px;
}

.car-az {
  background-position: -0px -30px;
  width: 86px;
  height: 30px;
}

.turbo-az {
  background-position: -86px -30px;
  width: 86px;
  height: 30px;
}

.white_bg {
  background: #fff;
}

.purple_bg {
  background: #86d3f4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #86d3f4 0%, #aa7ba6 49%, #ff6f56 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #86d3f4 0%,#aa7ba6 49%,#ff6f56 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #86d3f4 0%,#aa7ba6 49%,#ff6f56 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86d3f4', endColorstr='#ff6f56',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.padding-bott_15 {
  padding-bottom: 15px;
}

.block {
  display: block;
}

.float-none {
  float: none;
}

.text-bold {
  font-weight: bold;
}

label.error {
  color: #a94442;
  position: relative;
  top: -15px;
}

.outline-c {
  outline: 1px solid #ccc;
}

.outline {
  outline: 1px solid #000;
}

.outline-w {
  outline: 1px solid #fff;
}

.outline-r {
  outline: 1px solid #a94442;
}
